* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding: 1em 2em;
  background-color: rgb(1, 1, 1);
}


nav .nav-item:nth-of-type(1) a {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-decoration: none;
  color: rgb(211, 173, 152)
}

nav .nav-item:nth-of-type(2) a {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}


@media only screen and (max-device-width: 600px) {
  nav {
    padding: 0.5em;
  }
  nav .nav-item {
    text-align: center;
    width: 33%;
  }


  nav .nav-item:nth-of-type(1) h1 {
  display: none;
  }
  nav .nav-item:nth-of-type(2) h1 {
    display: none;
  }
}