body { 
    background-color: black;
    
}
.day-container img {
    object-fit: cover;
    max-width: fit-content;
    height: 105vh;
    
}

.home {
    height: 105vh;
    position: relative;
}


@media (max-width: 500px) {
    .day-container img {
    object-fit: cover;
    max-width: fit-content;
    max-height: fit-content;
    }

}