body { 
    background-color: black;
}
.day-container img {
    object-fit: cover;
    max-width: 100vw;
    height: 105vh;
}

.home {
    height: 105vh;
    position: relative;
}


/* @media (max-width: 500px) {

} */