body { 
    background-color: black;
    
    
}
.day-container {
    object-fit: cover;
    max-width: fit-content;
    height: 105vh;
    
}

.home img, .home {
    height: 105vh;
    position: relative;
}


@media (max-width: 500px) {
   
    
    .main-container {
        max-width: 100vw;
        max-height: 120vh;
    }

   .home {
        max-width: fit-content;
        margin-left: -90%;
        height: 100vh;
        overflow: hidden;
        
    }

}