@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.month-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  z-index: 10;
  position: relative;
  margin-bottom: 100px;
  max-width: 120em;
  justify-content: center;
}

.month-container h1 {
  text-align: center;
  font-family: 'Orbitron';
}


.month-cal {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat (7, 150px);
  max-width: 120em;
}

.day-map {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat (7, 150px);
  max-width: 120em;
}
.month-cal img{
  border: 1px black solid;
}
.date-number {
  position: absolute;
  padding: 0.8em 0.5em 2em 1em;
  margin: 1em 1em;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: rgba(0,0,0, 0.7);
}

.date-number p {
  color: white;
}
.day-content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 200px;
  max-height: 200px;
}
.day-content img {
  flex-shrink: 0;
  min-width: 200px;
  min-height: 200px;
}

@media (max-width: 500px) { 
  .month-cal {
  display: flex;
  flex-direction: column;
}
  .month-cal img{
    width: 100%;
    height: 80%;
    border: 1px black solid;
  }
  .date-number {
    position: absolute;
    padding: 0.8em 0.5em 2em 1em;
    margin: 1em 1em;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: rgba(0,0,0, 0.7);
  }
.date-number p{
  color: white;
}

 .blank-day {
  display:none;
 }

}